// custom css

@font-face
  font-family: 'Raleway'
  font-style: normal
  font-weight: 400
  src: url("/fonts/Raleway.woff2") format("woff2")
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
  font-display: swap

@font-face
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 500
  src: url("/fonts/Montserrat.woff2") format("woff2")
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
  font-display: swap

.index-page
  h1
    text-align: center
    margin-bottom: .75em

  img
    display: block
    margin: 3em auto

article
  background: aliceblue
  padding: 1em
  margin-bottom: 1em
  border-radius: 1em

  h1
    font-size: $font-size-h3
    margin-top: 0

  p:empty
    margin: 0

  .read-more
    margin-top: -.5em
    text-align: center

.article-meta-information
  margin-bottom: 1em

code
  font-size: $font-size_small

  > span
    padding: 1px 5px

.posts
  img
    padding: 0 5%
    max-width: 100%

#content, header
  .icon
    margin-right: 5px
    display: inline-block
    svg
      width: auto

header
  .icon
    fill: white
    margin-right: 10px

.content-wrapper
  padding-top: 0

#content
  margin: 0 auto 0 0
  .icon
    fill: $dark-blue

.published-date, .reading-time
  display: inline-block
  margin-bottom: 1.5em

.reading-time
  margin-right: 1em
